@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

html,
body {
  font-family: "Space Mono", sans-serif;
  background-color: #f1f4ba;
  /* height: 10000px; */
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

.header {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  top: 0;
  width: 100%;
  height: 4vh;
  border-bottom: 1px solid #191919;
  display: flex;
  align-items: center;
  padding-left: 5vh;
  font-size: 2vh;
}

.header ul {
  position: absolute;
  right: 30px;
}
.header ul li {
  width: 65px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 10px;
  letter-spacing: 2px;
  margin-left: 5px;
  border: 1px solid #191919;
  background-color: #f1f4ba;
  font-size: 16px;
}

/*첫 메인 페이지*/
.start-screen {
  padding-top: 4vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 6vh;
  text-align: center;
}
.start-screen-left {
  width: 60%;
  height: 100vh;
  border-right: 1px solid #191919;
  border-bottom: 1px solid #191919;
  border-left: 1px solid #191919;
  background-color: #fff;
}

.start-screen-right {
  width: 40%;
  height: 100vh;
  background-color: #f1f4ba;
  border-bottom: 1px solid #191919;
  border-right: 1px solid #191919;
}

.start-top-left{
  height:100px;
  background-color:#72b4d5;
  border-bottom: 1px solid #000;
}
.start-top-right{
  height: 100px;
  background-color: #05a362;
  border-bottom: 1px solid #000;
}

.start-top-left h2{
  line-height: 110px;
  text-align: center;
}
.start-middle-left{
  height: 50%;
  background-color: #ece499;
}
.start-bottom-left{
  height: 50%;
  background-color: #191919;
}
.start-top-right p:first-child{
  height: 50px;
  font-size: 25px;
  line-height: 70px;
  text-align: center;
}
.start-top-right p:last-child{
  height: 50px;
  font-size: 25px;
  line-height: 60px;
  text-align: center;
}
/******************************************************************************** ****************************스킬이나 자격사항**********************************
**********************************************************************************/
.main-content-1 {
  background-color: #fff;
  border-top: 1px solid #191919;
  border-bottom: 1.5px solid #191919;
  width: 100%;
  height: 500vh;
  margin-bottom: 100vh;
}

.sticky-title {
  width: 100%;
  height: 76vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  flex-flow: wrap;
}
.sticky-title-header {
  height: 100px;
  width: 100%;
  background-color: #e8daf3;
  border-bottom: 1.5px solid #191919;
  line-height: 110px;
  font-size: 45px;
  letter-spacing: 10px;
}

.sticky-title-content {
  height: 100%;
  width: 100%;
  /* background-color: #f1f4ba; */
}
/*  *************여기에 these are my portfolio 내용************* */
.sticky-title-content-1 {
  height: 100%;
  width: 100%;
  border-left: 1px solid #191919;
  border-right: 1px solid #191919;
  background-color: #fefaff;
  background-image: url(../images/cross-pattern.png);
  display: flex
}
.sticky-title-content-1 .sticky-1{
  width:33%;
  height: 100%;
  background-color: #63a3e475;
}
.sticky-title-content-1 .sticky-2{
  width: 33%;
  height: 100%;
  background-color: #e7824876;
}
.sticky-title-content-1 .sticky-3{
  width: 33%;
  height: 100%;
  background-color: #ead83a8e;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.section {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fafafa;
}

.title {
  border-top: 1px solid #000;
  background-color: #fff;
  height: 6vh;
  display: flex;
  align-items: center;
  font-size: 2vh;
  padding-left: 3vh;
}
/* ********************************************
***********************title-1**************
******************************************** */
.title-1 {
  background-color:rgb(234, 216, 58);
  /* border-bottom: 1px solid #000; */
  border-radius: 25px 25px 0 0;
}
.section-1 .content-1 {
  height: 100%;
  width: 100%;
  display: flex;
}

/* 1.왼쪽 */
.section-1 .content-1 > .content-1-left {
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: wrap;
  border-right: 1.5px solid #191919;
}

.section-1 .content-1 > .content-1-left .content-left-top {
  width: 100%;
  height: 60px;
  background-color: #f1e99d ;
  display: flex;
  flex-flow: wrap;
}

.content-left-top p {
  width: 25%;
  height: 60px;
  line-height: 60px;
  border: 1px solid #000;
  border-right: none;
  padding: 0 5px;
}

.content-left-middle {
  height: calc(100% - 60px);
  width: 100%;
  background-color: #fff;
}

.content-left-middle p:first-child {
  height: 30px;
}

.content-left-middle p:first-child i {
  float: right;
  line-height: 50px;
  font-size: 25px;
  margin-right: 10px;
}

.content-left-middle p:first-child i:hover {
  transform: scale(1.1);
}

.content-left-middle p:last-child {
  width: 100%;
  height: calc(100% - 50px);
  /* background-color: #cdaeae; */
  padding: 20px;
}

.content-left-middle p:last-child > a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/KAKAKO.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #191919;
  border-radius: 5px;
}

/* 1.오른쪽 */
.section-1 .content-1 > .content-1-right {
  width: 40%;
  height: 100%;
}

.content-1-right-top {
  height: 60px;
  background-color: #fff;
  border-bottom: 1px solid #000;
  line-height: 60px;
}

.content-1-right-middle {
  height: calc(100% - 150px);
}
.content-1-right-middle p {
  text-align: center;
}

.content-1-right-bottom {
  height: 90px;
  background-color: #fff;
  display: flex;
}

.content-1-right-bottom p {
  width: 33.33%;
  height: 100%;
  border: 1px solid #000;
  background-color: #f1e99d ;
  border-left: none;
  border-bottom: none;
}

.content-1-right-bottom p:first-child:hover a {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}

.content-1-right-bottom p:nth-child(2):hover a {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}

.content-1-right-bottom p:last-child:hover a {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}
.content-1-right-bottom p a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  line-height: 90px;
}
/* ********************************************
***********************title-2**************
******************************************** */
.title-2 {
  background-color: rgb(36, 143, 86);
  border-radius: 25px 25px 0 0;
}
.section-2 .content-2 {
  height: 100%;
  background-color: #fff;
  border-top: 1px solid #000;
  display: flex;
}
.content-2-left {
  width: 60%;
  height: 100%;
  border-right: 1px solid #000;
}
.content-2-left .content-2-left-top {
  height: 60px;
  background-color: rgb(143, 221, 179);
  display: flex;
}
.content-2-left .content-2-left-top > p {
  width: 25%;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0 5px;
  line-height: 60px;
  font-size: 18px;
}
.content-2-left .content-2-left-middle {
  height: calc(100% - 60px);
  width: 100%;
  /* background-color: #63a4e4; */
}
.content-2-left .content-2-left-middle p:first-child {
  height: 30px;
}
.content-2-left .content-2-left-middle i {
  float: right;
  font-size: 25px;
  line-height: 30px;
  margin-right: 10px;
  margin-top: 10px;
}
.content-2-left .content-2-left-middle i:hover {
  transform: scale(1.1);
}
.content-2-left .content-2-left-middle p:last-child {
  padding: 30px;
  height: 100%;
  /* background-color: #000; */
}
.content-2-left-middle p:last-child > a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/ecolian.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #191919;
  border-radius: 5px;
  margin-top: 15px;
}

.content-2-right {
  width: 40%;
  height: 100%;
}
.content-2-right-top {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #000;
  line-height: 60px;
}
.content-2-right-middle {
  height: calc(100% - 150px);
  text-align: center;
}
.content-2-right-bottom {
  height: 90px;
  background-color: #fff;
  display: flex;
  border-top: 1px solid #000;
  display: flex;
}
.content-2-right-bottom p {
  width: 33.33%;
  height: 100%;
  border-right: 1px solid #000;
}
.content-2-right-bottom p a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(143, 221, 179);
  font-size: 20px;
  line-height: 90px;
  text-align: center;
}
.content-2-right-bottom p:first-child:hover a {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}
.content-2-right-bottom p:nth-child(2):hover a {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}
.content-2-right-bottom p:last-child:hover a {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}

/* ********************************************
***********************title-3**************
******************************************** */
.title-3 {
  background-color: rgb(99, 164, 228);
  /* border-bottom: 1px solid #191919; */
  border-radius: 25px 25px 0 0;
}
.section-3 .content-3 {
  height: 100%;
  background-color: #fff;
  border-top: 1px solid #000;
  display: flex;
}
.content-3-left {
  width: 60%;
  height: 100%;
  border-right: 1px solid #000;
}
.content-3-left .content-3-left-top {
  height: 60px;
  background-color: rgb(167, 192, 216);
  display: flex;
}
.content-3-left .content-3-left-top > p {
  width: 25%;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  padding: 0 5px;
  line-height: 60px;
  font-size: 18px;
}
.content-3-left .content-3-left-middle {
  height: calc(100% - 60px);
  width: 100%;
}
.content-3-left .content-3-left-middle p:first-child {
  height: 30px;
}
.content-3-left .content-3-left-middle i {
  float: right;
  font-size: 25px;
  line-height: 30px;
  margin-right: 10px;
  margin-top: 10px;
}
.content-3-left .content-3-left-middle i:hover {
  transform: scale(1.1);
}
.content-3-left .content-3-left-middle p:last-child {
  padding: 30px;
  height: 100%;
  /* background-color: #000; */
}
.content-3-left-middle p:last-child > a {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/section-2\ bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #191919;
  border-radius: 5px;
  margin-top: 15px;
}

.content-3-right {
  width: 40%;
  height: 100%;
}
.content-3-right-top {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #000;
  line-height: 60px;
}
.content-3-right-middle {
  height: calc(100% - 150px);
  text-align: center;
}
.content-3-right-bottom {
  height: 90px;
  background-color: #fff;
  display: flex;
  border-top: 1px solid #000;
  display: flex;
}
.content-3-right-bottom p {
  width: 33.33%;
  height: 100%;
  border-right: 1px solid #000;
}
.content-3-right-bottom p a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgb(167, 192, 216);
  font-size: 20px;
  line-height: 90px;
  text-align: center;
}
.content-3-right-bottom p:first-child:hover a {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}
.content-3-right-bottom p:nth-child(2):hover a {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}
.content-3-right-bottom p:last-child:hover a {
  background-color: #000;
  color: #fff;
  transition: all 1s;
}

/* ********************************************
***********************title-4**************
******************************************** */
.box-bg::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.title-4 {
  background-color: rgb(231, 131, 72);
  /* border-bottom: 1px solid #191919; */
  border-radius: 25px 25px 0 0;
}
.section-4 .content-4 {
  height: 100%;
  border-top: 1px solid #000;
}
/*********************content-4-top*************************/
.content-4-top {
  height: 50%;
  border-bottom: 1px solid #000;
  display: flex;
}
.content-4-top-left {
  width: 60%;
  height: 100%;
  border-right: 1px solid #000;
}

/***************배너1,2,3****************/
.content-4-top-left-1 {
  height: calc(100% - 60px);
  display: flex;
}
.content-4-top-left-1 .box-33 {
  width: 33.33%;
  height: 100%;
  border-left: 1px solid #000;
  padding: 10px;
}
.content-4-top-left-1 .box-4-1 {
  height: 100%;
  background-color: rgb(237, 200, 179);
}
.content-4-top-left-1 .box-4-2 {
  height: 100%;
  background-color: rgb(179, 192, 237);
}
.content-4-top-left-1 .box-4-3 {
  height: 100%;
  background-color: rgb(237, 232, 179);
}
.content-4-top-left-1 .box-4-1 p:first-child,
.content-4-top-left-1 .box-4-2 p:first-child,
.content-4-top-left-1 .box-4-3 p:first-child {
  height: 100%;
}
.content-4-top-left-1 .box-4-1 p:first-child img,
.content-4-top-left-1 .box-4-2 p:first-child img,
.content-4-top-left-1 .box-4-3 p:first-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content-4-top-left-1 .box-4-1 p:last-child {
}
.content-4-top-left-1 .box-4-2 p:last-child {
}
.content-4-top-left-1 .box-4-3 p:last-child {
}

.content-4-top-left-2 {
  height: 60px;
  border-top: 1px solid #000;
  background-color: #000;
  color: #fff;
}
/***************배너4,모눈종이****************/
.content-4-top-right {
  width: 40%;
  height: 100%;
  display: flex;
}
.content-4-top-right .box-50 {
  width: 50%;
  height: 100%;
  border-right: 1px solid #000;
  padding: 10px;
}
.content-4-top-right .box4-4 {
  height: 100%;
  background-color: rgb(123, 182, 148);
}

.content-4-top-right .box4-4 p:first-child {
  height: 100%;
}
.content-4-top-right .box4-4 p:first-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content-4-top-right .box4-4 p:last-child {
}

.box4-5 {
  background-image: url(../images/pattern.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.box4-5 span:first-child {
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  background-image: url(../images/design-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
}
.box4-5 span:last-child {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  background-image: url(../images/design-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 70%;
  left: 70%;
  transform: translate(-70%, -70%);
}
/*********************content-4-bottom*************************/
.content-4-bottom {
  height: 50%;
  display: flex;
}
/***************배너5,모눈종이****************/
.content-4-bottom-left {
  width: 40%;
  height: 100%;
  border-right: 1px solid #000;
  display: flex;
}
.content-4-bottom-left .box-50 {
  width: 50%;
  height: 100%;
  border-left: 1px solid #000;
  padding: 10px;
}
.content-4-bottom-left .box4-7 {
  height: 100%;
  background-color: rgb(36, 143, 86);
}
.content-4-bottom-left .box4-7 p:first-child {
  height: 100%;
}
.content-4-bottom-left .box4-7 p:first-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content-4-bottom-left .box4-7 p:last-child {
}

.box4-6 {
  background-image: url(../images/pattern.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.box4-6 span:first-child {
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  background-image: url(../images/design-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 70%;
  left: 70%;
  transform: translate(-70%, -70%);
}
.box4-6 span:last-child {
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  background-image: url(../images/design-4.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 20%;
  left: 20%;
  transform: translate(-20%, -20%);
}
/***************배너6,7,8****************/
.content-4-bottom-right {
  width: 60%;
  height: 100%;
}
.content-4-bottom-right-1 {
  height: 80px;
  border-bottom: 1px solid #000;
  background-color: #000;
  color: #fff;
}
.content-4-bottom-right-2 {
  height: calc(100% - 80px);
  width: 100%;
  display: flex;
}
.content-4-bottom-right-2 .box-33 {
  width: 33.33%;
  height: 100%;
  border-right: 1px solid #000;
  padding: 10px;
}
.content-4-bottom-right-2 .box-4-8 {
  height: 100%;
  background-color: #ead83a;
}
.content-4-bottom-right-2 .box-4-9 {
  height: 100%;
  background-color: #63a4e4;
}
.content-4-bottom-right-2 .box-4-10 {
  height: 100%;
  background-color: #e78348;
}

.content-4-bottom-right-2 .box-4-8 p:first-child,
.content-4-bottom-right-2 .box-4-9 p:first-child,
.content-4-bottom-right-2 .box-4-10 p:first-child {
  height: 100%;
}
.content-4-bottom-right-2 .box-4-8 p:first-child img,
.content-4-bottom-right-2 .box-4-9 p:first-child img,
.content-4-bottom-right-2 .box-4-10 p:first-child img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content-4-bottom-right-2 .box-4-8 p:last-child {
}
.content-4-bottom-right-2 .box-4-9 p:last-child {
}
.content-4-bottom-right-2 .box-4-10 p:last-child {
}

/* .content-4-top {
  height: 50%;
  border-bottom: 1.5px solid #000;
  display: flex;
}
.content-4-top-left {
  width: 60%;
  height: 100%;
  border-right: 1.5px solid #000;
}
.content-4-top-left-1{
  height: calc(100% - 80px);
  display: flex;
}
.content-4-top-left-1 p{
  width: 33.33%;
  height: 100%;
  border-left: 1px solid #000;
  padding:10px;
  position: relative;
}
.content-4-top-left-1 p a{
  display: block;
  width: 100%;
  height: 100%;
}
.content-4-top-left-1 p:first-child{
  background-color:rgb(237, 200, 179);
}
.content-4-top-left-1 p:first-child span{
  display: block;
  width: 100%;
  height: 100%;
}
.content-4-top-left-1 p:first-child a.banner{
  background-image: url(../images/banner-1.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.content-4-top-left-1 p:first-child a:last-child{
  position: absolute;
  background-image: url(../images/banner-1.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  width: 500px;
  height: 500px;
  top: 20%;
  left: 150%;
  display: none;
}
.content-4-top-left-1 p:first-child a:last-child i{
  position: absolute;
  right:-30px;
  top: -30px;
  font-size: 30px;
}
.content-4-top-left-1 p:nth-child(2){
  background-color:rgb(166, 197, 228);
}
.content-4-top-left-1 p:nth-child(2) a.banner{
  background-image: url(../images/banner-3.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.content-4-top-left-1 p:last-child{
  background-color:#f1e99d;
}
.content-4-top-left-1 p:last-child a.banner{
  background-image: url(../images/banner-5.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.content-4-top-left-2{
  height: 80px;
  border-top: 1px solid #000;
  line-height: 80px;
  background-color: #000;
  color: #fff;
}
.content-4-top-right {
  width: 40%;
  display: flex;
}
.content-4-top-right p{
  width: 50%;
  height: 100%;
  border-right: 1px solid #000;
}
.content-4-top-right p:first-child{
  background-color:rgb(125, 184, 153);
  padding: 10px;
}
.content-4-top-right p:first-child a.banner{
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/banner-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content-4-top-right p:last-child{
  background-image: url(../images/pattern.png);
  background-position:left;
  background-size: cover;
  position: relative;
}
.content-4-top-right p:last-child span:first-child{
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(../images/design-1.png);
  background-position: center;
  background-size: cover;
  top: 20%;
  left: 20%;
  transform: translate(-20%,-20%);
}
.content-4-top-right p:last-child span:first-child:hover{
  transform: rotate(180deg);
  transition: all 0.5s;
}
.content-4-top-right p:last-child span:last-child{
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
  background-image: url(../images/design-2.png);
  background-position: center;
  background-size: cover;
  top: 70%;
  left:70%;
  transform: translate(-70%,-70%);
}
.content-4-top-right p:last-child span:last-child:hover{
  transform: rotate(180deg);
  transition: all 0.5s;
}
.content-4-bottom {
  height: 50%;
  display: flex;
}
.content-4-bottom-left {
  width: 40%;
  border-right: 1px solid #000;
  display: flex;
}
.content-4-bottom-left p{
  width: 50%;
  border-left: 1px solid #000;
}
.content-4-bottom-left p:first-child{
  background-image: url(../images/pattern.png);
  background-position:left;
  background-size: cover;
  position: relative;
}
.content-4-bottom-left p:first-child span:first-child{
  position: absolute;
  display: block;
  width: 130px;
  height: 130px;
  background-image: url(../images/design-3.png);
  background-position: center;
  background-size: cover;
  top: 10%;
  left: 10%;
  transform: translate(-10%,-10%);
}
.content-4-bottom-left p:first-child span:last-child{
  position: absolute;
  display: block;
  width: 130px;
  height: 130px;
  background-image: url(../images/design-4.png);
  background-position: center;
  background-size: cover;
  top: 80%;
  left: 80%;
  transform: translate(-80%,-80%);
}
.content-4-bottom-left p:last-child{
  background-color:rgb(36, 143, 86);
  padding:10px;
}
.content-4-bottom-left p:last-child a.banner{
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/banner-7.jpg);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.content-4-bottom-right {
  width: 60%;
}
.content-4-bottom-right-1{
  height: 80px;
  border-bottom: 1px solid #000;
  line-height: 80px;
  background-color: #000;
  color: #fff;
}
.content-4-bottom-right-2{
  display: flex;
  height: calc(100% - 80px);
}
.content-4-bottom-right-2 p{
  width: 33.33%;
  border-right: 1px solid #000;
  padding: 10px;
}
.content-4-bottom-right-2 p a{
  display: block;
  width: 100%;
  height: 100%;
}
.content-4-bottom-right-2 p:first-child{
  background-color:#ead83a;
}

.content-4-bottom-right-2 p:first-child a.banner{
  background-image: url(../images/banner-6.jpg);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.content-4-bottom-right-2 p:nth-child(2){
  background-color: #63a4e4;
}
.content-4-bottom-right-2 p:nth-child(2) a.banner{
  background-image: url(../images/banner-9.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}
.content-4-bottom-right-2 p:last-child{
  background-color: #e78348;
}
.content-4-bottom-right-2 p:last-child a.banner{
  background-image: url(../images/banner-8.jpg);
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
} */
.content {
  background-color: #fff;
}
